<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mappers.dtd">
<mapper namespace="com.market.pc.mapper.UserMapper">
	<select id="queryUserInfo" resultType="com.market.pc.entity.Person">
		select * from user where loginName=#{loginName} and password=#{password}
	</select> 
	

</mapper>