<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
	<!-- 注解驱动,处理器映射器和处理器适配器的配置 -->
	<mvc:annotation-driven>
	
	</mvc:annotation-driven>
	
	<!-- 自动扫描controller包下的所有类，使其认为spring mvc的控制器 -->
	<context:component-scan base-package="com.market.pc.controller" />
	<context:component-scan base-package="com.market.h5.controller" />

	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/toIndex.html"/>
			<mvc:mapping path="/toSearch.html"/>
			<mvc:mapping path="/toCart.html"/>
			<bean class= "com.market.pc.intercepter.UserLoginHandlerInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>
	<!-- 对模型视图名称的解析，即在模型视图名称添加前后缀 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" p:prefix="/WEB-INF/" p:suffix=".jsp" />

</beans>