body{font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";}
.navbar-mystyle{background-color:#09C; color:#FFF;}
.mystyle-brand{ background-color:#0087b4; display:block;}