body{
	margin: 0px;
	padding: 0px;
	font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";
}


.searchable-select-hide {
  display: none;
}

.searchable-select {
  display: inline-block;
  min-width: 200px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  vertical-align: middle;
  position: relative;
  outline: none;
}

.searchable-select-holder{
  padding: 6px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  min-height: 30px;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.searchable-select-caret {
  position: absolute;
  width: 0;
  height: 0;
  box-sizing: border-box;
  border-color: black transparent transparent transparent;
  top: 0;
  bottom: 0;
  border-style: solid;
  border-width: 5px;
  margin: auto;
  right: 10px;
}

.searchable-select-dropdown {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 4px;
  border-top: none;
  top: 28px;
  left: 0;
  right: 0;
}

.searchable-select-input {
  margin-top: 5px;
  border: 1px solid #ccc;
  outline: none;
  padding: 4px;
  width: 100%;
  box-sizing: border-box;
  width: 100%;
}

.searchable-scroll {
  margin-top: 4px;
  position: relative;
}

.searchable-scroll.has-privious {
  padding-top: 16px;
}

.searchable-scroll.has-next {
  padding-bottom: 16px;
}

.searchable-has-privious {
  top: 0;
}

.searchable-has-next {
  bottom: 0;
}

.searchable-has-privious, .searchable-has-next {
  height: 16px;
  left: 0;
  right: 0;
  position: absolute;
  text-align: center;
  z-index: 10;
  background-color: white;
  line-height: 8px;
  cursor: pointer;
}

.searchable-select-items {
  max-height: 400px;
  overflow-y: scroll;
  position: relative;
}

.searchable-select-items::-webkit-scrollbar {
  display: none;
}

.searchable-select-item {
  padding: 5px 5px;
  cursor: pointer;
  min-height: 30px;
  box-sizing: border-box;
    transition: all 1s ease 0s;
}

.searchable-select-item.hover {

  background: #555;
  color: white;
}

.searchable-select-item.selected {
  background: #28a4c9;
  color: white;
}

.seller{
	float: left;
	margin-left: 40px;
}

.consumer{
	float: left;
	margin-left: 40px;
}

.sort{
	float: left;
	margin-left: 40px;
}

.wrap{
	width: 1190px;
    margin: 68px auto;
    top:50px;
    
}
.sequence-left {
    height: 65px;
    float: left;
    overflow: hidden;
    font-family: 'Microsoft YaHei';
}

.listclass {
    margin-left: 1px;
}
.listclass li {
    float: left;
    margin-left: -1px;
    position: relative;
}
li {
    list-style: none;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.listclass li a:link, .listclass li a:visited {
    border: 1px solid #ccc;
    display: block;
    padding: 0 15px;
    height: 34px;
    line-height: 34px;
    background: #f8f8f8;
}
a:link, a:visited {
    color: #666666;
    text-decoration: none;
}
a, area {
    outline: 0;
    border: none;
    outline: none;
}
user agent stylesheeta:-webkit-any-link {
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}
.sequence-left {
    overflow: visible;
    margin-top: 20px;
	margin-left: 30px;
}
.sequence-left .index-none {
    z-index: 0
}
.listclass li.on {
    z-index: 5;
}
.listclass li.on a:link,.sequence-fixed .listclass li.on a:visited {
    background: #c01133;
    border: 1px solid #c01133;
    color: #FFF;
    margin-top: -1px
}

.listclass li a:link,.sequence-fixed .listclass li a:visited {
    border: 0 none;
    background: #fff
}
.listclass li a:hover {
    background: #fff;
    border: 0 none;
    color: #e6133c;
    position: relative;
    z-index: 5;
}

.listclass li a.disable {
    border: 0 none;
    color: #bbb;
    cursor: not-allowed
}

.listclass li a.disable:hover {
    border: 0 none;
    color: #bbb
}

.listclass li.upanddown i {
    background-image: url(//img.iblimg.com/respc-1/resources/v4.0/css/i/icon-xiala.png);
    background-position: 0 center;
}

.listclass li a i {
    float: left;
    margin-left: 7px;
    display: inline-block;
    width: 7px;
    height: 34px;
    background-repeat: no-repeat;
}

.listclass li a span {
    float: left;
    display: inline-block;
}

.listclass li.sort i {
    background-image: url(//img.iblimg.com/respc-1/resources/v4.0/css/i/icon-xiala1.png);
    background-position: 0 center;
}

.listclass li a i {
    float: left;
    margin-left: 7px;
    display: inline-block;
    width: 7px;
    height: 34px;
    background-repeat: no-repeat;
}

.goodsList{
	width: 1393px;
	margin-left: 120px;
	clear: both;
}
 .goodsList .goods{
 	margin-top: 10px;
    margin-right: 10px;
    float: left;
    position: relative;
    width: 230px;
    height: 278px;
    border: 1px solid rgba(57, 72, 71, 0.25);
 }
 
 .goodsList .goods:hover{
 	border: 1px solid red;
 }
 .goodsList .goods img {
    height: 150px;
    width: 150px;
    margin-left: 39px;
    margin-top: 0px;
}

.goodsList .goods .price{
    font-family: Verdana,Geneva,sans-serif;
    color: #e6133c;
    line-height: 26px;
    font-size: 18px;
    text-align: center;
}

.goodsList .goods .goodsName{
	text-align: center;
}

.goodsList .goods .goodsWhere{
	text-align: center;
}

.goodsList .goods .buyButton{
	cursor: pointer;
	border: 1px solid gray;
	margin: 20px 30px 10px 30px;
	height: 30px;
	text-align: center;
	line-height: 29px;
	border-radius: 4px;
}

.goodsList .goods .buyButton:hover{
	background: #118867;
}

#pageToolbar{
	clear: both;
}
